.btn {
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1) !important;
  
  font-family: 'Varela Round';
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  
  
  color: white;
}

.btn-about {
  background-color: $primary; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, $primary, white); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(top, $primary, white); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(top, $primary, white); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, $primary, white); /* Standard syntax; must be last */
  &:hover {
    background-color: ($gradient, 10%);
    letter-spacing: .75rem;
  }
  &:focus {
    background-color: ($gradient, 10%);
    color: white;
  }
  &:active {
    background-color: ($gradient, 15%) !important;
  }
  
}
.btn-contact {
  background-color: $primary; /* fallback color if gradients are not supported */
  
  &:hover {
    background-color: ($primary, 10%);
   
  }
  &:focus {
    background-color: ($primary, 10%);
    color: white;
  }
  &:active {
    background-color: ($primary, 15%) !important;
  }
  
}
