.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 10rem 0;
  background-color: white;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-family: 'Varela Round';
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.5rem;
    background: -webkit-linear-gradient(
      fade-out(black, 0.1),
      fade-out(black, 1)
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  h2 {
    max-width: 20rem;
    font-size: 1.2rem;
  }
  .home-img {
    width: 100%;
  }
  .home-cont{
    flex-direction: column-reverse;
  }
  @media (min-width: 768px) {
    width: 100vw;
    h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    padding: 0;
    .home-cont{
      flex-direction: row;
    }
    .home-img{
      margin-left: 10%;
    }
    h1 {
      font-size: 2.5rem;
      line-height: 2.5rem;
      letter-spacing: 0.8rem;
    }
    h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
}
